*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rebeccapurple;
}
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    text-align: center;
    background-color: #dfdfdf;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
    transition: 0.2s transform ease-out;
}
#btn{
    margin: 1rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem ;
    background-color: rgb(1, 109, 109);
    color:whitesmoke;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#btn:hover{
    background-color: rgb(8, 141, 97);
}
label{
    font-size: 1.6rem;
    font-weight: bold;
}
input{
    font-size: 1.6rem;
    margin: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    outline: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}
input:focus{
    box-shadow: 0 0 10px 3px lime;
}
.result{
    position: absolute;
    width:1000px ;
    padding: 2rem;
    background-color: rgb(1, 34, 34);
    color: rgb(196, 255, 255);
    font-size: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    transform: scale(0);
    transition: 0.4s transform ease-in ;
    box-shadow: 0 0 15px 10px black;
}
.result button{
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: green;
    color: white;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 10px 5px black;
}
.result button:hover{
    background-color: rgb(2, 175, 2);
}

@media (max-width: 480px){
    input{
        padding: 0;
    }
    .container{
        width: 100vw;
    }
}
